button{
    /*Change the width as much as you like, but make sure 
    margin-left and margin-right + width = 100%*/
    width:10%;
    margin-left:45%;
    margin-right: 45%;
    position: absolute;
    top: 50%;
}

.center{
    width:10%;
    margin-left:45%;
    margin-right: 45%;
    text-align: center;
    position: absolute;
    top: 60%;
    font-size: 50px;
}